<header>
    <h1>Cloud Logging System</h1>
    <nav>
        <ul>
            <li>
                <a href="/">
                    <span>Home(View Logs)</span>
                </a>
            </li>
            <li>
                <a href="/clear">
                    <span>Clear Logs</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
